*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 75px;
    background-color: coral;
    display: flex;
    align-items: center;
}

#grid{
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border: 1px solid black;
}